div.dokuwiki div.amazon {
    height: 70px;
}

div.dokuwiki div.amazon img {
    float: left;
    margin-right: 4px;
    padding: 1px;
    border: 1px solid #333;
    background-color: #efefef;
}

div.dokuwiki div.amazon_isbn{
    font-size: 90%;
}
